// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  display: flex;
}

.main {
  width: calc(100vw - 280px);
}
.names{
  font-size: 30px;
  font-family: serif;
  color: #fff;
}
.main-members{
background-color: #330000;
  height: 120px;
  border: 2px solid #e0ce0a;
}
.member-view{
  position: absolute;
  top: 10px;
  left: 5px;
}

.main-result{
  background-color: #00283c;
  height: calc(100vh - 120px - 325px);
  border: 2px solid #e0ce0a;
}
.yaku{
  font-size: 30px;
  font-family: serif;
  color: #fff;
  display: inline-flex;
  margin-top: 10px;
  margin-left: 5px;
}
.selectbox{
  display: flex;
}


.main-ber{
  background-color: grey;
  height: 300;
  border: 2px solid #e0ce0a;
}
.side {
  background-color: #00283c;
  width: 280px;
  height: 100vh;
  border: 2px solid #e0ce0a;
}
.youtube-font{
  font-size: 30px;
  font-family: serif;
}

.youtube{
  border: 2px solid #e0ce0a;
  background-color: gray;
}
.video{
  padding-left: 5px;
}
.memotext{
  padding-top: 10px;
  margin-left: 8px;
}
.selectbox{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid #dddddd;
	border-radius: 5px;
	padding: 5px 20px;
  color: #666666;
  font-size: 19px;
  font-family: serif;
}
select::-ms-expand {
  display: none;
  }
