<label class="my-checkbox">
  <input type="checkbox">
  <span class="checkmark"></span>
  みかん
</label>

<label class="my-checkbox">
  <input type="checkbox" checked>
  <span class="checkmark"></span>
  りんご
</label>
<a href="https://code-kitchen.dev/" style="display: table; position: fixed; bottom: 2px; right: 5px;" target="_blank"><img src="https://res.cloudinary.com/code-kitchen/image/upload/v1582096487/static/banner.svg" alt="Code Kitchen" width="110" height="30"></a>
